target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
bootstrap.properties
file.conf
registry.conf
TestController.java
Demo00.java
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

renren-generator

**/mvnw
**/mvnw.cmd

**/.mvn
**/target/

.idea

**/.gitignore