.form-artwork {
    width: 1100px;
    height: auto;
    position: relative;
    margin: 10vh 200px 10vh;
}
.mainphotobg {
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    height: 700px;
    width: 700px;
    background: rgba(20, 20, 20, 0.8);
}


.form-artworkuser {
    position: absolute;
    top: 40px;
    right: -80px;
    /* border: rgba(255, 255, 255, 0.2) 2px solid;
    border-radius: 10px; */
    width: 400px;
    box-sizing: content-box;
}
.mainphoto {
    height: 700px;
    width: 700px;
    background: no-repeat center;
    background-size: contain;
}
.user-profile-photo {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    border: none;
    background: no-repeat;
    background-size: cover;
}
.user-color {
    vertical-align: top;
    overflow: visible;
    height: 60px;
    line-height: 60px;
    width: 300px;
    font-size: 40px;
    color: #fff;
    border: none;
    background: rgba(20, 20, 20, 0);
}
.artworktitle {
    font-size: 30px;
    overflow: visible;
    color: #fff;
    border: none;
    background: rgba(20, 20, 20, 0);
    width: 400px;
    height: 60px;
    line-height: 60px;
}
.artworkcomment {
    color: #fff;
    border: none;
    background: rgba(20, 20, 20, 0);
    resize:none;
    width: 400px;
    height: 400px;
}

.top-bb {
    margin-top: 20px;
}
.clear {
    clear: both;
}
.ffffff {
    color: #fff;
}
.delartwork {
    transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
    color: #fff;
    background: #3c3c3c;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
.delartwork:hover {
    color: #FF0;
    transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
    background: red;
}