
.top {
    z-index: 999;
    height: 50px;
    top: 0px;
    position: fixed;
    background: rgba(255,255,255,1);
    border-bottom: 2px solid #f4f2f4;
}
.up-input{
    display: inline-block;
    min-width: 64px;
    line-height: 22px;
    margin: 5px;
    padding: 9px 24px;
    border: none;
    border-radius: 100vw;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.8s ease 0s, color 0.8s ease 0s;
    color: rgb(71, 71, 71);
    background-color: rgba(0, 0, 0, 0.04);
    text-decoration: none;
}
.up-input:hover{
    background-color: gray;
    transition: background-color 0.8s ease 0s, color 0.8s ease 0s;
    color: #fff;
    text-decoration: none;
}
.hp {
    margin: 5px;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 20px;
    background-position-x: 50%;
    background-position-y: 0;
}
.hp-top {
    background-color:skyblue;
    height: 40px;
    width: 40px;
    border: none !important
}
.btn-top {
    display: inline-block;
    margin: 5px;
}
.username-id {
    display: inline-block;
    vertical-align:top;
    height: 50px;
    line-height: 50px;
}
.btn-index {
    display: inline-block;
    min-width: 64px;
    line-height: 22px;
    margin: 5px;
    padding: 9px 24px;
    border: none;
    border-radius: 100vw;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    color: rgb(71, 71, 71);
    background-color: rgba(0, 128, 255, 0.84);
    text-decoration: none;
}
.btn-index:hover{
    color: #fff;
    text-decoration: none;
}
.none {
    border: none;
}