<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantasque.artcommunity.mapper.ArtworkMapper">

    <resultMap id="BaseResultMap" type="com.fantasque.artcommunity.entity.Artwork">
            <id property="artworkid" column="artworkid" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="INTEGER"/>
            <result property="artworktitle" column="artworktitle" jdbcType="VARCHAR"/>
            <result property="artworkcomment" column="artworkcomment" jdbcType="VARCHAR"/>
            <result property="artworkaddress" column="artworkaddress" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        artworkid,userid,artworktitle,
        artworkcomment,artworkaddress
    </sql>
</mapper>
